:root{
    --tomato: hsl(4, 100%, 67%);
    --darkSlateGrey: hsl(234, 29%, 20%);
    --charcoalGrey: hsl(235, 18%, 26%);
    -grey: hsl(231, 7%, 60%);
    --white: hsl(0, 0%, 100%);
}

*{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

header{
    background-image: url('./assets/images/illustration-sign-up-mobile.svg');
    width: 100%;
    height: 55vh;
    border-radius: 0 0 1rem 1rem;
    background-size: cover;
    background-repeat: no-repeat;
}

section{
    padding: 2rem;
}

.advantages{
    display: flex;
    gap: 1rem;
    align-items: flex-start;
    margin-bottom: 1rem;
}

label{
    display: block;
    font-size: 0.8rem;
    font-weight: 700;
    margin: 2rem 0 -0.5rem 0; 
}

input[type='email']{
    padding: 1rem;
    width: 100%;
    border-radius: 0.7rem;
    border: 0.3px solid var(--charcoalGrey);
    font-size: 1rem;
}

input[type='button']{
    background-color: var(--darkSlateGrey);
    padding: 1.3rem;
    width: 100%;
    border-radius: 0.8rem;
    margin-top: 1rem;
    border: none;
    color: var(--white);
    font-size: 1rem;
    font-weight: 700;
}

.thanking{
    position: absolute;
    background-color: var(--white);
    top: 0;
    height: 130vh;
    display: none;
}

.thanking img{
    margin: 6rem 0 1rem 0;
    padding: 1rem;
    width: 6rem;
}

h2{
  font-size: 2.5rem;
  padding: 1rem 1rem 0;
  color: var(--darkSlateGrey);
  font-weight: 700;
  margin-bottom: 0;
  margin-top: 0;
}

p{
    padding: 1rem ;
    margin-top: 0;
    color: var(--darkSlateGrey);
    text-align: justify;
    font-size: 0.9rem;
}

button{
    display: block;
    margin: 5rem auto 0;
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: var(--charcoalGrey);
    color: var(--white);
    border: none;
    width: 90%;
    font-weight: 700;
}

footer{
    font-size: 1rem;
    text-align: center;
    margin-top: 2rem;
}
footer a{
    color: hsl(228, 45%, 44%);
}
  